.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 46px;
}
.container-secondary {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 46px;
}

.button {
  padding: 23px 46px;
  font-size: 24px;
  font-weight: 400;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 37px;
  border: 4px solid #FFF;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  border-color: #CCA56E;
  color: #CCA56E;
}
.button_black {
  border-color: #2B2A29;
  color: #2B2A29;
}

.section-header {
  text-align: center;
}
.section-header__title {
  font-size: clamp(20px, 3vw, 26px);
  font-style: normal;
  font-weight: 700; /* 140.625% */
  letter-spacing: clamp(20px, 3vw, 26px);
  color: #CCA56E;
}
@media screen and (max-width: 600px) {
  .section-header__lines {
    width: 100%;
  }
}

.header, .header__navigation, .header__params, .header__icons, .navigation__list {
  display: flex;
  align-items: center;
}

.main {
  padding-top: 620px;
  height: 100vh;
  background-image: url("../images/video.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
.main .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 24px 0 46px;
  justify-content: space-between;
  gap: 54px;
  padding-top: 25px;
  z-index: 5;
  background-color: black;
}
@media screen and (max-width: 768px) {
  .main .header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .main .header__navigation {
    order: 1;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main .header__navigation .logo {
    display: block;
    margin: 0 auto;
    z-index: 2;
  }
}
.main .header__burger {
  display: none;
  width: 48px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  padding: 21px 8px;
  cursor: pointer;
  z-index: 4;
}
@media screen and (max-width: 992px) {
  .main .header__burger {
    display: block;
  }
}
.main .header__burger-line {
  position: relative;
  display: block;
  width: 28px;
  height: 2px;
  background-color: #FFFFFF;
}
.main .header__burger-line::before, .main .header__burger-line::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #FFFFFF;
}
.main .header__burger-line::before {
  top: 10px;
}
.main .header__burger-line::after {
  top: -10px;
}
.main .header__burger_active .header__burger-line {
  height: 0;
}
.main .header__burger_active .header__burger-line::before, .main .header__burger_active .header__burger-line::after {
  top: 0;
}
.main .header__burger_active .header__burger-line::before {
  transform: rotate(45deg);
}
.main .header__burger_active .header__burger-line::after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 992px) {
  .main .header .navigation {
    display: none;
    position: absolute;
    background-color: #000000;
    top: 0;
    left: -46px;
    right: -46px;
    padding: 80px 0;
    z-index: 3;
  }
}
.main .header .navigation__active {
  display: block;
}
@media screen and (max-width: 992px) {
  .main .header .navigation__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .main .header .navigation__item {
    margin-bottom: 12px;
  }
}
.main .header .navigation__item-link {
  padding: 3px 230px;
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 400;
  color: #FFFFFF;
}
.main .header .navigation__item-link:hover {
  color: #CCA56E;
}
@media screen and (max-width: 1250px) {
  .main .header .navigation__item-link {
    padding: 3px 15px;
  }
}
.main .header__params {
  position: relative;
  z-index: 2;
  gap: 90px;
  padding-right: 30px;
}
.main .header__icons {
  gap: 28px;
}
@media screen and (max-width: 1250px) {
  .main .header__icons {
    display: none;
  }
}
.main .header__basket {
  color: #2B2A29;
  font-size: 24px;
  font-weight: 400;
}
.main .header__basket-fon {
  position: absolute;
  right: -46px;
  top: 0;
  z-index: 1;
}
.main .title {
  margin-bottom: 180px;
  color: #CCA56E;
  font-size: clamp(45px, 4vw, 64px);
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .main .title {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .main .button {
    display: block;
    margin: 0 auto;
  }
}

.about__header {
  height: 16vh;
  background-color: #F6EEE1;
  text-align: center;
}
.about__header-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.about__header-cloud {
  position: absolute;
  right: 0;
  top: 0;
}
.about__header-title {
  position: relative;
  color: #CCA56E;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 25px;
  z-index: 1;
}
@media screen and (max-width: 540px) {
  .about__header-line {
    width: 100%;
  }
}
.about-inner {
  position: relative;
  height: 84vh;
  background-image: url("../images/Art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.about-inner__wrapper {
  padding-top: 225px;
  color: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .about-inner__wrapper {
    text-align: center;
  }
}
.about-inner__description, .about-inner__title {
  position: relative;
  z-index: 2;
}
.about-inner__description {
  max-width: 460px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
}
@media screen and (max-width: 992px) {
  .about-inner__description {
    max-width: 100%;
  }
}
.about-inner_subdescription {
  max-width: 700px;
  margin-bottom: 165px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}
.about-inner__title {
  font-size: 64px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .about-inner__title {
    display: none;
  }
}
.about-inner__glass {
  position: absolute;
  right: 250px;
  bottom: -90px;
}
@media screen and (max-width: 992px) {
  .about-inner__glass {
    display: none;
  }
}

.blog {
  background-color: #F6EEE1;
  padding-bottom: 60px;
}
.blog .section-header {
  margin-bottom: 60px;
}
.blog .slider {
  display: flex;
  align-items: center;
  padding-left: 110px;
}
@media screen and (max-width: 1400px) {
  .blog .slider {
    flex-wrap: wrap;
    padding-left: 0;
  }
}
.blog .slider__preview {
  border-radius: 16px;
}
@media screen and (max-width: 1400px) {
  .blog .slider__preview {
    margin: 0 auto 40px auto;
  }
}

.swiper {
  position: relative;
  width: 580px;
}
@media screen and (max-width: 1400px) {
  .swiper {
    width: 100%;
  }
}
.swiper-slide__title {
  margin-bottom: 8px;
  color: #2B2A29;
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
}
.swiper-slide__description {
  color: #2B2A29;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.callback {
  padding: 27px 0 93px 0;
  background-color: #F6EEE1;
}
.callback-header {
  display: flex;
  margin-bottom: 56px;
}
.callback-header .section-header {
  flex: 1;
  border-bottom: 3px solid #2B2A29;
}
@media screen and (max-width: 768px) {
  .callback-header .section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
}
@media screen and (max-width: 768px) {
  .callback-header .section-header__lines {
    order: 1;
  }
}
@media screen and (max-width: 768px) {
  .callback__logo {
    display: none;
  }
}
.callback .form__title, .callback .form__description {
  font-weight: 400;
  color: #2B2A29;
  text-align: center;
}
.callback .form__title {
  margin-bottom: 25px;
  font-size: clamp(32px, 3vw, 64px);
}
.callback .form__description {
  margin-bottom: 85px;
  font-size: clamp(20px, 3vw, 24px);
}
.callback .form__fields {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 120px;
}
.callback .form__fields-input {
  width: 49%;
  padding: 28px 0 12px 0;
}
@media screen and (max-width: 640px) {
  .callback .form__fields-input {
    width: 100%;
  }
}
.callback .form__fields-message {
  margin-top: 72px;
  width: 100%;
  resize: none;
}
@media screen and (max-width: 640px) {
  .callback .form__fields-message {
    margin-top: 30px;
  }
}
.callback .form__fields-input, .callback .form__fields-message {
  border: none;
  border-bottom: 3px solid #2b2a29;
  font-size: 24px;
  font-weight: 700;
  color: #2B2A29;
  background: transparent;
}
.callback .form__fields-input::-moz-placeholder, .callback .form__fields-message::-moz-placeholder {
  font-size: 24px;
  font-weight: 700;
  color: #2B2A29;
}
.callback .form__fields-input::placeholder, .callback .form__fields-message::placeholder {
  font-size: 24px;
  font-weight: 700;
  color: #2B2A29;
}
.callback .form__fields-error {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  display: none;
  text-align: center;
  color: red;
  font-size: clamp(16px, 3vw, 24px);
}
.callback .form__fields-error_active {
  display: block;
}
.callback .form .button {
  display: block;
  margin: 0 auto;
}
.callback .wrapper-success {
  display: none;
  height: 572px;
  justify-content: center;
  align-items: center;
}
.callback .wrapper-success_active {
  display: flex;
}
.callback .wrapper-success_active + .form {
  display: none;
}
.callback .wrapper-success__title {
  color: #2B2A29;
  font-size: 40px;
}

.footer {
  padding: 68px 0;
  background-color: #130A03;
}
.footer__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__logo {
  margin-right: 64px;
}
@media screen and (max-width: 1140px) {
  .footer__logo {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .footer__logo {
    display: none;
  }
}
.footer__navigation {
  margin-right: 158px;
}
@media screen and (max-width: 1280px) {
  .footer__navigation {
    margin-right: 40px;
  }
}
@media screen and (max-width: 992px) {
  .footer__navigation {
    margin: 0;
  }
}
.footer__navigation-list {
  -moz-column-count: 3;
       column-count: 3;
}
@media screen and (max-width: 640px) {
  .footer__navigation-list {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.footer__navigation-item {
  margin-bottom: 20px;
}
.footer__navigation-link {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}
.footer__feedback-item {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */