.header, .header__navigation, .header__params, .header__icons, .navigation__list {
  @include flex
}

.main {
  padding-top: 620px;
  height: 100vh;
  background-image: url('../images/video.gif');
  background-size: cover;
  background-repeat: no-repeat;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 24px 0 46px;
    justify-content: space-between;
    gap: 54px;
    padding-top: 25px;
    z-index: 5;
    background-color: black;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    &__navigation {
      @media screen and (max-width: 768px) {
        order: 1;
        width: 100%;
      }

      .logo {
        @media screen and (max-width: 768px) {
          display: block;
          margin: 0 auto;
          z-index: 2;
        }
      }
    }

    &__burger {
      display: none;
      width: 48px;
      height: 48px;
      border: 2px solid #FFFFFF;
      border-radius: 6px;
      padding: 21px 8px;
      cursor: pointer;
      z-index: 4;

      @media screen and (max-width: 992px) {
        display: block;
      }

      &-line {
        position: relative;
        display: block;
        width: 28px;
        height: 2px;
        background-color: #FFFFFF;

        &::before, &::after {
          content: "";
          position: absolute;
          width: 28px;
          height: 2px;
          background-color: #FFFFFF;
        }

        &::before {
          top: 10px;
        }

        &::after {
          top: -10px;
        }
      }
    }

    &__burger_active {
      .header__burger-line {
        height: 0;

        &::before, &::after {
          top: 0;
        }
  
        &::before {
          transform: rotate(45deg);
        }
  
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  
    .navigation {
      @media screen and (max-width: 992px) {
        display: none;
        position: absolute;
        background-color: #000000;
        top: 0;
        left: -46px;
        right: -46px;
        padding: 80px 0;
        z-index: 3;
      }

      &__active {
        display: block;
      }

      &__list {
        @media screen and (max-width: 992px) {
          flex-direction: column;
        }
      }

      &__item {
        @media screen and (max-width: 992px) {
          margin-bottom: 12px;
        }

        &-link {
          padding: 3px 230px;
          font-size: clamp(20px, 2vw, 24px);
          font-weight: 400;
          color: #FFFFFF;

          &:hover {
            color: #CCA56E;
          }

          @media screen and (max-width: 1250px) {
            padding: 3px 15px;
          }
        }
      }
    }
  
    &__params {
      position: relative;
      z-index: 2;
      gap: 90px;
      padding-right: 30px;
    }
  
    &__icons {
      gap: 28px;

      @media screen and (max-width: 1250px) {
        display: none;
      }
    }

    &__basket {
      color: #2B2A29;
      font-size: 24px;
      font-weight: 400;

      &-fon {
        position: absolute;
        right: -46px;
        top: 0;
        z-index: 1;
      }
    }

  }

  .title {
    margin-bottom: 180px;
    color: #CCA56E;
    font-size: clamp(45px, 4vw, 64px);
    font-weight: 400;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  .button {
    @media screen and (max-width: 768px) {
      display: block;
      margin: 0 auto;
    }
  }
}